<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap">
</head>
<body>
<h1>Book List</h1>
<div class="button-container">
    <a th:href="@{/web/books/addBookForm}">Add Book</a>
    <a th:href="@{/web/books/deleteBooks}">Delete Books</a>
    <a th:href="@{/web/books/filterPage}">Filter</a>
    <a th:href="@{/web/books}">Show All</a>
</div>
<br/><br/>
<table border="1">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.year}"></td>
        <td th:text="${book.status}"></td>
        <td>
            <a th:href="@{'/web/books/editBookForm/' + ${book.id}}" class="edit-form">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>